@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.clock{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: limegreen;
    width: 100%;
    height: 70vh;
    border-radius: 1em;
    user-select: none;
}

.time{
    font-size: 10em;
    height: 50%;
    line-height: 60vh;
    color: rgb(33, 131, 33);

}

.date{
    font-size: 2.5em;
    height: 50%;
    line-height: 20vh;
    color: rgb(33, 131, 33);
}

