<div class="container calcBody">
    <div class="row screen">
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 12]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 11]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 10]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 9]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 8]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 7]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 6]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 5]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 4]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 3]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 2]}}</div>
        <div class="col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 dgt">{{values[length - 1]}}</div>
    </div>
    <div class="row svnEgtNneC">
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn svn" (click)="insertVal('7')">7</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn egt" (click)="insertVal('8')">8</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn nne" (click)="insertVal('9')">9</button>
        <button mat-raised-button class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 btn c" (click)="insertVal('c')">C</button>
    </div>
    <div class="row frFvSxPlsMns">
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn fr" (click)="insertVal('4')">4</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn fve" (click)="insertVal('5')">5</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn six" (click)="insertVal('6')">6</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn pls" (click)="insertVal('+')">+</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn mns" (click)="insertVal('-')">-</button>
    </div>
    <div class="row onTwThrMltDvd">
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn one" (click)="insertVal('1')">1</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn two" (click)="insertVal('2')">2</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn thr" (click)="insertVal('3')">3</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn mlt" (click)="insertVal('*')">x</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn dvd" (click)="insertVal('/')">/</button>
    </div>
    <div class="row zroDotEql">
        <button mat-raised-button class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 btn zro" (click)="insertVal('0')">0</button>
        <button mat-raised-button class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 btn dot" (click)="insertVal('.')">.</button>
        <button mat-raised-button class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 btn eql" (click)="insertVal('=')">=</button>
    </div>
</div>