<div class="container calcBody">
    <div class="row screen">
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
        <div class="col-1 dgt"> </div>
    </div>
    <div class="row svnEgtNneC">
        <button mat-raised-button class="col-2 btn svn">7</button>
        <button mat-raised-button class="col-2 btn egt">8</button>
        <button mat-raised-button class="col-2 btn nne">9</button>
        <button mat-raised-button class="col-4 btn c">C</button>
    </div>
    <div class="row frFvSxPlsMns">
        <button mat-raised-button class="col-2 btn fr">4</button>
        <button mat-raised-button class="col-2 btn fve">5</button>
        <button mat-raised-button class="col-2 btn six">6</button>
        <button mat-raised-button class="col-2 btn pls">+</button>
        <button mat-raised-button class="col-2 btn mns">-</button>
    </div>
    <div class="row onTwThrMltDvd">
        <button mat-raised-button class="col-2 btn one">1</button>
        <button mat-raised-button class="col-2 btn two">2</button>
        <button mat-raised-button class="col-2 btn thr">3</button>
        <button mat-raised-button class="col-2 btn mlt">x</button>
        <button mat-raised-button class="col-2 btn dvd">/</button>
    </div>
    <div class="row zroDotEql">
        <button mat-raised-button class="col-4 btn zro">0</button>
        <button mat-raised-button class="col-2 btn dot">.</button>
        <button mat-raised-button class="col-4 btn eql">=</button>
    </div>
</div>