@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.face{
    border: 25px solid black;
    height: 75vh;
}
.clock{
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 5em;
    background-color: limegreen;
    width: 100%;
    height: 70vh;
}

.innerRim{
    background-color: red;
    border: 25px solid rgb(48, 48, 48);
    width: 75%;
    height: 80vh;
    margin: 5% 12.5%;
    padding: 0;
}