.outerRim{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 1vw outset mediumblue;
}

.innerRim{
    background-color: rgb(48, 48, 48);
    border: 1vw solid rgb(48, 48, 48);
    border-radius: 3vw 3vw 0 3vw;
    width: 65vw;
    height: calc(82vh - 2vw);
    margin: calc((100vh - (82vh - 2vw)) / 2) 0 calc((100vh - (82vh - 2vw)) / 2) 11.5vw;
    padding: 0;
}

.buttonRim{
    background-color: rgb(48, 48, 48);
    border: 1vw solid rgb(48, 48, 48);
    border-radius: 0 6vw 6vw 0vw;
    height: calc((82vh - 2vw) / 2);
    margin: calc(((82vh - 2vw) / 2) + ((100vh - (82vh - 2vw)) / 2)) 11.5vw calc((100vh - (82vh - 2vw)) / 2) 0vw;
    width: 10vw;
    padding: 0;
}

.face{
    border: 1vw solid black;
    border-radius: 2vw;
    background-color: limegreen;
    height: calc(82vh - 4vw);
}

.button1{
    background-color: red;
    border-radius: 4vw;
    height: calc(((82vh - 2vw) / 2) * .75);
    box-shadow: 0 1vh rgb(197, 0, 0);
    margin: calc(((82vh - 2vw) / 2) * .075) 0vw calc(((82vh - 2vw) / 2) * .075) -1vw;
    width: 8.5vw;
    padding: 0;
}
.button1:hover{
    transform: translateY(-4px);
}
.button1:active{
    background-color: rgb(136, 0, 0);
    transform: translateY(4px);
    box-shadow: 0 10px rgb(78, 0, 0);
}